.type.storage,.type.storage.declaration, .storage.class.modifier, .mtki, .mtk28, .mtk8 {
  font-family: 'Victor Mono'!important;
  font-size: 1.1em;
}

.type.storage.arrow.function, .mtk10 {
  font-family: 'Operator Mono'!important;
}

.decorator.name, .decorator.punctuation:not(.block), .import.keyword {
    font-family: 'Victor Mono';
    font-size: 1.1em;
}
.attribute-name {
    font-family: 'Victor Mono';
    font-size: 1.1em;
}

.comment:not(.punctuation) {
    font-family: 'Victor Mono';
    font-size: 1.1em;
}